* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    background: linear-gradient(180deg, #0BD3E0 0%, #070E34 67.19%);
    color: #E0F3F5;
    display: grid;
    grid-gap: 30px;
    margin-top: 15px;
    font-family: 'DM Sans', sans-serif;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 72px 1fr 3fr;
    grid-template-areas:
        "logo header nav nav"
        "searcher searcher searcher searcher"
        "content content content content"
    ;
}

.logo {
    grid-area: logo;
    width: 50%;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    
}

 
.ul {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    justify-content: center;
 
}
.searcher {
    grid-area: searcher;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.content {
    display: flex;
    grid-area: content;
    flex-direction: row;
    margin-top: 25px;
    align-items: flex-start;
    justify-content: space-around;
}

.img_size {
    max-height: 35%;
    max-width: 35%;
}
.search_bar {
    width: 75%;
}

.rounded{
border-radius: 20px;
}

@media screen and (max-width: 480px) {
    body {
        height: 100vh;
        background: linear-gradient(180deg, #0BD3E0 0%, #070E34 67.19%);
        color: #E0F3F5;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 72px 1fr;
        grid-template-rows: 35px 40px 45px 1fr;
        grid-template-areas:
            "logo header"
            "nav nav "
            "searcher searcher "
            "content content  "
        ;
    }

    .logo {
        grid-area: logo;
        width: 75%;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        
    }

    .header {
        grid-area: header;
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .ul {
        grid-area: nav;
        flex-direction: row;
        
        justify-content: center;

    }
    .searcher {
        grid-area: searcher;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .search_bar {
            width: 75%;
    }
    
    .content {
        display: flex;
        grid-area: content;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
    }
    
    
}