*{
    margin: 0px;
    padding: 0px;
}

.background{
    background: linear-gradient(180deg, #0BD3E0 0%, #070E34 67.19%);   
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    display: block;
    margin-left: 25%;
    margin-right: 30%;
    padding: 10px;
    background-color: blue;
    border-top: solid 5px green;
    border-right: solid 5px black;
    border-bottom: solid 5px red;
    border-left: solid 5px blanchedalmond;
    border-radius: 20px;
}

.separator{
        margin-top: 15px;
}

footer {
    margin-top: 23%;
}